{% load static %}

<head>
    <link rel="stylesheet" href="{% static '../static/css/styles.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
</head>
<nav>
    <ul class="menuItems">
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/#">Tienda</a>
        </li>
    </ul>
</nav>

{% block content %}
{% endblock %}